extends layout

block content
    h1
        if posts
            each post, i in posts
                h1
                    a(href='/posts/show/#{post._id}')
                        =post.title
                p.meta Posted in #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
                =post.body
                p
                    a.more(href='/posts/show/#{post._id}') Read More
        else
            p There are no Lines to display
